<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithm {{ algorithm.id }}</title>
    <style type="text/css">
    table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
        display: flex;
        text-align: center;
    }
    th, td {
      border:1px solid lightgrey;
      overflow-x: auto;
    }
    a {
      color:#000;
    }
    </style>
</head>
<body>
  <h3>Algorithm {{ algorithm.id }}</h3>
  <table>
    <tr>
      <th>Parameter Name</th>
      <th>Weight</th>
      <th>Limit prev</th>
      <th>Self limit</th>
      <th>Hits</th>
    </tr>
    {% for i in range(1, 11) %}
      {% set param = 'lvl_' ~ i|string %}
      {% set counter = 'uses_' ~ i|string %}
      {% if algorithm[param] %}
        {% set param_data = algorithm[param] | from_json %}
          {% if param_data is not none %}
          <tr>
            <td>{{ param_data['name'] }}</td>
            <td>{{ param_data['weight'] }}</td>
            <td>{{ param_data['count_stop_previ'] }}</td>
            <td>{{ param_data['count_stop_self'] }}</td>
            <td>{{ algorithm[counter] }}</td>
          </tr>
          {% endif %}
      {% endif %}
    {% endfor %}
  </table>
  <p><a href="{{ url_for('rules') }}">Back to Rules</a></p>
</body>
</html>